FLASK_ENV=development
FLASK_PORT=5000
SECRET_KEY=roxai_secret_key_super_secure_development_2026
JWT_SECRET_KEY=roxai_jwt_secret_token_secure_key_2026
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=roxai
FRONTEND_URL=http://localhost:5173
